.WinMain {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  top: 10px;
}
.winpop {
  margin-top: 300px;
  height: 230px;
  width: 400px;
  background: linear-gradient(
    to Right,
    rgb(179, 1, 255),
    rgb(22, 233, 3),
    rgb(255, 168, 7)
  );
  transform: translateX(40px);
  transform: translateY(-200px);
  position: absolute;
  text-align: center;
  border: none;
  border-radius: 50px;
  z-index: 3;
  box-shadow: 3px 3px 3px rgb(185, 189, 187);
}
.winpop h1 {
  font-size: 25px;
  font-weight: 50px;
  margin: 20px;
  color: rgb(21, 18, 15);
}
.winpop button{
  box-shadow: 2px 2px 2px rgb(90, 25, 25);
}