* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgb(58, 56, 56), rgb(170, 166, 166));
}

.maincontainer {
  width: 800px;
  display: flex;
  flex-direction: row;
}
.Playerone {
  height: 500px;
  width: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.Playertwo {
  height: 500px;
  width: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.active {
  background: rgb(81, 207, 106);
  box-shadow: 1px 4px 4px 4px rgb(2, 255, 112);
}

.inactive {
  background: rgb(198, 98, 98);
  /* box-shadow: 1px 4px 4px 4px rgb(194, 80, 80); */
}
