.Dicecls {
  position: absolute;
  top: 120px;
}
.DiceImage img {
  height: 80px;
  margin: 10px 0px 0px 400px;
  border: none;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 4px rgb(22, 20, 20);
}
